@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Platypi:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,667;1,667&family=Sigmar+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.lavita_school {
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 20px 100px;
}

.school  h1{
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    color: #EC1B2E;
    text-transform: uppercase;
}

.contact_block ul {
    gap: 20px;
    display: flex;
    align-items: center;
}
.contact_block ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #333333;
}

.button_block {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    padding: 10px 20px;
    background: none;
    background-color: #EC1B2E;
    cursor: pointer;
}
.button_block a {
    color: white;
}

.line_block {
    margin: 0 110px;
    border-bottom: 1px solid #33333341;
}

/* info_block */

.info_block {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.info_two_block ul {
    gap: 14px;
    display: flex;
}
.info_two_block ul li a {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

.info_two_block ul li a:hover {
    color: #EC1B2E;
}

/* block */

.block {
    padding: 20px 110px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.block a {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #333333;
}

.line {
    width: 8px;
    height: 8px;
    background-color: #EC1B2E;
}

/* header */

.Rectangle {
    text-align: center;
    padding-top: 20px;
}

/* main_two_block */

.main_two_block {
    padding: 80px 72px;
}

.text_two_block h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 67.2px;
    color: #333333;
}
.text_two_block h2 {
    padding-top: 50px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    color: #333333;
}

.big_text {
    display: flex;
    gap: 20px;
    align-items: start;
}
.big_text p {
    padding-top: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #333333;
}

.min_text {
    margin: 40px 0;
    margin-right: 390px;
    border: 5px solid #EC1B2E;
    padding: 25px 45px;
}
.min_text p {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    color: #333333;
}

.min_two_text p {
    padding-right: 410px;
    padding-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #333333;
}

/* footer */

footer {
    background-color: #33333310;
}

.boss_block {
    display: flex;
    padding: 60px 100px;
}

.one_block {
    padding-right: 20px;
}
.one_block h1 {
    font-size: 14px;
    font-weight: 700px;
    line-height: 19.6px;
    color: #333333;
}

.top_block {
    padding: 30px 0;
}

.icon_block {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 25px;
}
.icon_block a {
    font-size: 14px;
    font-weight: 400px;
    line-height: 19.6px;
    color: #333333;
}

.logo_img_block {
    display: flex;
    gap: 20px;
}

.two_block {
    padding: 0 40px;
}
.two_block h1 {
    font-size: 20px;
    font-weight: 700px;
    line-height: 28px;
    color: #333333;
}
.two_block ul {
    padding: 20px 0;
}
.two_block ul li {
    padding: 10px 0;
}
.two_block ul li a{
    font-size: 14px;
    font-weight: 400px;
    line-height: 19.6px;
    color: #333333;
}

.three_blcok {
    padding-right: 0 10px;
}
.three_blcok h1 {
    font-size: 20px;
    font-weight: 700px;
    line-height: 28px;
    color: #333333;
}
.three_blcok ul {
    padding: 20px 0;
}
.three_blcok ul li {
    padding-top: 15px;
}
.three_blcok ul li a {
    font-size: 14px;
    font-weight: 400px;
    line-height: 19.6px;
    color: #333333;
}

/* line_two_block */

.line_two_block {
    margin: 0 100px;
    border-bottom: 1px solid #33333350;
}

.d-e-n_ru {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
}
.d-e-n_ru h1 {
    font-size: 14px;
    font-weight: 400px;
    line-height: 19.6px;
    color: #33333380;
}
.d-e-n_ru h2 {
    font-size: 14px;
    font-weight: 400px;
    line-height: 19.6px;
    color: #33333380;
}